{{>header}}

<center><h2>{{matricula}}</h2></center>

<center><h1>Aspirantes al curso</h1></center>

{{mostrarmatcursos3 matriculaa listado listadoo identificador documento}}

<center><a href="/inscripciones">Volver</a></center>

{{>footer}}