{{>header}}

<center><h1>Bienvenido a la página de educación continua</h1></center>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-lg-12">
			<h1><img src="img/3837.jpg" class="img-fluid img-thumbnail mx-auto d-block" width="100%"></h1>
		</div>
	</div>
</div>

<center><a href="http://www.freepik.com">Designed by jcomp / Freepik</a></center>

{{>footer}}
