{{>header}}

<center><h1>Ver cursos como interesado</h1></center>

<center><h2>Cursos de educación continua disponibles</h2></center>

<br>

{{{mostrarcursosdisponiblesvermas2 listado}}}

{{>footer}}
