{{>header}}

<center><h1>{{mostrarcurso}}</h1></center>

A continuación se presenta la lista de cursos creados hasta el momento

<br>
<br>

{{{mostrarr listado}}}

<center><a href="/cursos">Volver</a></center>

{{>footer}}