{{>header}}

<center><h2>{{mostraraspirante}}</h2></center>

<center> <a class="active" href="/matricula">Inscribirme a un curso</a></center>

<center><a href="/aspirante">Volver</a></center>

{{>footer}}